.naslov1 {
    text-align: center;
     color:green;
}
body{
    margin: 0;
    padding: 0;
}

img{
    margin-top: -30px;
}


.slika1{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}