.naslov1 {
    text-align: center;
     color:#0e9302;
}
body{
    margin: 0;
    padding: 0;
}

img{
    margin-top: -30px;
}


.slika1{
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    
}